@model goSSRA.Registration.Models.VolunteerRoles

@{
    ViewBag.Title = "Details";
}
<br />
<br />
<h2>Details</h2>

<fieldset>
	<legend>VolunteerRoles</legend>
	<dl>
		<dt>
			@Html.DisplayNameFor(model => model.Role)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Role)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Desc)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Desc)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.AdminRole)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.AdminRole)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.RaceRole)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.RaceRole)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.OtherRole)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.OtherRole)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Active)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Active)
		</dd>

	</dl>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.RoleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
