@model IEnumerable<goSSRA.Registration.Models.Program>

@{
    ViewBag.Title = "Index";
}
<br />
<br />
<div style="text-align: center">
    <h2>Ski Programs</h2>

    @* only admins can modify existing records *@
    @if (User.IsInRole("Admin"))
    {
        <br /><p>
            Create New Program @Html.ActionLink("here", "Create")
        </p><br />
    }
</div>
@{
    var TopColor = "#EEEEDD";
    var OddColor = "#FAFAF4";
    var evenColor = "#FFFFFA";
    var Odd = OddColor;
}
@if (Model.Any())
{
    <div class="table-wrapper1">
        <table class="table">
            <tr border="1" bgcolor="@TopColor">
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Discount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DiscountDesc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Discount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiscountDesc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>

                    @* only admins can modify existing records *@
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ProgramID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ProgramID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ProgramID })
                        </td>
                    }
                </tr>
            }

        </table>
    </div>
}