@model IEnumerable<goSSRA.Registration.Models.Enrollment>

@{
    ViewBag.Title = "Index";
}
<br />
@{
    string strYesNo;
}
<br />
<div style="text-align: center">
    <h2>SSRA Enrollment</h2>

    <br /><p>
        Create New Enrollment @Html.ActionLink("here", "Create")
    </p><br />
</div>

@if (ViewBag.adminRole)
{
    using (Html.BeginForm())
    {
        <div class="row">
            <div class="span4">
                <pre>Enrollment Count: @Model.Count()</pre>
            </div>
            <div class="span4">
                <pre><center>@Html.ActionLink("Excell Freindly Data", "Index", new { sortOrder = ViewBag.CurrentSort, sortDesc = ViewBag.sortDesc, currentFilter = ViewBag.CurrentFilter, excelFreindly = true }, new { target = "_blank" })</center></pre>
            </div>
            <div class="span4">
                <p>
                    Find: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                    <input type="submit" value="Search" class="btn" />
                </p>
            </div>
        </div>
    }
}
@if (Model.Any())
{
    var TopColor = "#DDDDFF";
    var OddColor = "#FAFAF4";
    var evenColor = "#FFFFF8";
    var Odd = OddColor;

    <table class=" table">
        <tr border="1" bgcolor="@TopColor">
            <th>
                @Html.ActionLink("Enroller's Name", "Index", new { sortOrder = ViewBag.EnrollersNameSortParm, sortDesc = ViewBag.sortDesc, currentFilter = ViewBag.CurrentFilter })
                @*@Html.DisplayNameFor(model => model.EnrollersName)*@
            </th>
            <th>
                @Html.ActionLink("Full Name", "Index", new { sortOrder = ViewBag.FullNameSortParm, sortDesc = ViewBag.sortDesc, currentFilter = ViewBag.CurrentFilter })
                @*@Html.DisplayNameFor(model => model.Athlete.FullName)*@
            </th>

            @* only admins can see extra info *@
            @if (User.IsInRole("Admin"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.Athlete.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Athlete.Birthday)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Athlete.ParentName1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Athlete.ParentName2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Athlete.Parent1Phone1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Athlete.Parent1Phone2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Athlete.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Athlete.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Athlete.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Athlete.Postcode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Athlete.Email)
                </th>
            }

            <th>
                @Html.ActionLink("Program Title", "Index", new { sortOrder = ViewBag.TitleSortParm, sortDesc = ViewBag.sortDesc, currentFilter = ViewBag.CurrentFilter })
                @*@Html.DisplayNameFor(model => model.Program.Title)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentDate)
            </th>
            <th>
                @Html.ActionLink("Payment Email", "Index", new { sortOrder = ViewBag.PaymentEmailSortParm, sortDesc = ViewBag.sortDesc, currentFilter = ViewBag.CurrentFilter })
                @*@Html.DisplayNameFor(model => model.PaymentEmail)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.ActionLink("Paid", "Index", new { sortOrder = ViewBag.PaidSortParm, sortDesc = ViewBag.sortDesc, currentFilter = ViewBag.CurrentFilter })
                @*@Html.DisplayNameFor(model => model.Paid)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConsentFormsOk)
            </th>
            @* only admins can see extra info *@
            @if (User.IsInRole("Admin"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.HealthChkOk)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SSRACodeofConductForm)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ParentCodeofConductSSRAForm)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VolunteerForm)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AssumptionAndAcceptanceOfRsForm)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MedicalReleaseForm)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ConcussionInfoForm)
                </th>
            }
            <th></th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollersName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Athlete.FullName)
                </td>


                @* only admins can see extra info *@
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Athlete.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Athlete.Birthday)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Athlete.ParentName1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Athlete.ParentName2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Athlete.Parent1Phone1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Athlete.Parent1Phone2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Athlete.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Athlete.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Athlete.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Athlete.Postcode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Athlete.Email)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Program.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Paid)*@
                    @{
            strYesNo = (item.Paid) ? "Yes" : "No";
                    }
                    @strYesNo
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.ConsentFormsOk)*@
                    @{
            strYesNo = (item.ConsentFormsOk) ? "Yes" : "No";
                    }
                    @strYesNo
                </td>
                @* only admins can modify existing records *@
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        @*@Html.DisplayFor(modelItem => item.HealthChkOk)*@
                        @{
                    strYesNo = (item.HealthChkOk) ? "Yes" : "No";
                        }
                        @strYesNo
                    </td>

                    <td>
                        @*@Html.DisplayFor(model => item.SSRACodeofConductForm)*@
                        @{
                    strYesNo = (item.SSRACodeofConductForm) ? "Yes" : "No";
                        }
                        @strYesNo
                    </td>
                    <td>
                        @*@Html.DisplayFor(model => item.ParentCodeofConductSSRAForm)*@
                        @{
                    strYesNo = (item.ParentCodeofConductSSRAForm) ? "Yes" : "No";
                        }
                        @strYesNo
                    </td>
                    <td>
                        @*@Html.DisplayFor(model => item.VolunteerForm)*@
                        @{
                    strYesNo = (item.VolunteerForm) ? "Yes" : "No";
                        }
                        @strYesNo
                    </td>
                    <td>
                        @*@Html.DisplayFor(model => item.AssumptionAndAcceptanceOfRsForm)*@
                        @{
                    strYesNo = (item.AssumptionAndAcceptanceOfRsForm) ? "Yes" : "No";
                        }
                        @strYesNo
                    </td>
                    <td>
                        @*@Html.DisplayFor(model => item.MedicalReleaseForm)*@
                        @{
                    strYesNo = (item.MedicalReleaseForm) ? "Yes" : "No";
                        }
                        @strYesNo
                    </td>
                    <td>
                        @*@Html.DisplayFor(model => item.ConcussionInfoForm)*@
                        @{
                    strYesNo = (item.ConcussionInfoForm) ? "Yes" : "No";
                        }
                        @strYesNo
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.EnrollmentID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.EnrollmentID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.EnrollmentID }) |
                        @Html.ActionLink("View Confirmation", "IdReceipt", new { id = item.EnrollmentID }, new { target = "_blank" })
                    </td>
                }
                else
                {
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.EnrollmentID }) |
                        @Html.ActionLink("View Confirmation", "IdReceipt", new { id = item.EnrollmentID }, new { target = "_blank" })
                    </td>
                }

            </tr>

                if (Odd == OddColor)
                {
                    Odd = evenColor;
                }
                else
                {
                    Odd = OddColor;
                }
        }

    </table>
    <hr />
    <br />
    <ul>
        <li><a>Notice - Some information is completed by Administration. This may take time to reflect on your records.</a></li>
    </ul>
}
@section Scripts  {
}