@{
    ViewBag.Title = "Forms List";
}
<br />
<br />
<h2>Forms List</h2>
<br />
<br />
<br />
<br />
<div class="row">
    <div class="span6">
        <p>Please read and become familiar with the forms provided.</p>
    </div>
</div>
<br />
<br />
<br />
<hr />
<ul>
    <li>
        @Html.ActionLink("SSRA Code of Conduct", "Form1", null, new { target="_blank" })
        <br />
        <br />
    </li>
    <li>
        @Html.ActionLink("Assumption and acceptance of risk, release and indemnity", "Form2", null, new { target = "_blank" })
        <br />
        <br />
    </li>
    <li>
        @Html.ActionLink("Concussion Information Sheet", "Form3", null, new { target = "_blank" })
        <br />
        <br />
    </li>
    <li>
        @Html.ActionLink("Medical Release", "Form4", null, new { target = "_blank" })
        <br />
        <br />
    </li>
    <li>
        @Html.ActionLink("Volunteer Form", "Form5", null, new { target = "_blank" })
        <br />
        <br />
    </li>
    <li>
        @Html.ActionLink("Parental Code of Conduct-SSRA", "Form6", null, new { target = "_blank" })
        <br />
        <br />
    </li>
</ul>

